<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.shiro.dao.PermissionDao">
    <resultMap id="PermissionMap" type="com.xin.shiro.entity.Permission">
        <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Long"/>
        <result column="permission" property="permission" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="description" property="description" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="available" property="available" jdbcType="BOOLEAN" javaType="java.lang.Boolean"/>
    </resultMap>

    <sql id="permissionSql">
        id,permission,description,available
    </sql>
    <select id="get"  resultMap="PermissionMap">
        SELECT
        <include refid="permissionSql"/>
        FROM permissions
        WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true"  keyProperty="id">
        INSERT INTO permissions (permission,description,available)
      VALUES (#{permission}, #{description},#{available})
    </insert>
</mapper>